*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#7c2153;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:rgba(255,255,255,0.08);
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#c9e9f7;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}

.hero{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
    background:linear-gradient(135deg,#7c2153,#7c2153);
}

.hero-content h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero-content p{
    max-width:700px;
    margin:auto;
    color:#cbd5e1;
    line-height:1.8;
    margin-bottom:30px;
}

.search-box{
    display:flex;
    max-width:700px;
    margin:auto;
    background:white;
    border-radius:50px;
    overflow:hidden;
}

.search-box input{
    flex:1;
    padding:18px;
    border:none;
    outline:none;
    font-size:16px;
}

.search-box button{
    border:none;
    padding:18px 35px;
    background:#38bdf8;
    color:white;
    cursor:pointer;
    font-weight:600;
}

.search-box button:hover{
    background:#0284c7;
}

.recommendation-section{
    padding:80px 8%;
}

.section-title{
    text-align:center;
    margin-bottom:40px;
}

.section-title h2{
    font-size:40px;
    margin-bottom:10px;
}

.book-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

.book-card{
    background:rgba(255,255,255,0.08);
    border-radius:20px;
    overflow:hidden;
    transition:0.3s;
}

.book-card:hover{
    transform:translateY(-10px);
}

.book-card img{
    width:100%;
    height:320px;
    object-fit:cover;
}

.book-content{
    padding:20px;
}

.book-content h3{
    color:#38bdf8;
    margin-bottom:10px;
}

.book-content p{
    color:#e2e8f0;
    line-height:1.7;
    margin-bottom:10px;
}

.features{
    padding:70px 8%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.feature-card{
    background:rgba(255,255,255,0.08);
    padding:30px;
    border-radius:20px;
    text-align:center;
}

.feature-card h3{
    color:#38bdf8;
    margin-bottom:15px;
}

footer{
    text-align:center;
    padding:20px;
    background:rgba(255,255,255,0.05);
    margin-top:40px;
}

@media(max-width:768px){

    .hero-content h1{
        font-size:40px;
    }

    nav{
        display:none;
    }

    .search-box{
        flex-direction:column;
        border-radius:20px;
    }

    .search-box button{
        width:100%;
    }
}